@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  cursor: none !important;
  min-height: 100vh;
  overflow: hidden;
}

#root > * {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  pointer-events: none;
}

#mobile-controls-root,
#mobile-controls-root * {
  pointer-events: auto !important;
}

* {
  cursor: none !important;
}
